<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.quickescapes.mappers.FareMapper">
    <sql id="FlightSubquery">
        <bind name="budgetLimit" value="budget * 2 / 3" />
        SELECT
        out_airport.airport_cd AS cityCode,
        out_trip.trip_departure_dt::TIMESTAMP AS outbound_departure_date,
        out_trip.price AS outbound_price,
        out_segment.airline_cd AS outbound_airline,
        out_segment.flight_nb AS outbound_flight_number,
        out_segment.cabin AS outbound_cabin
        FROM
        trips AS out_trip
        JOIN
        slices AS out_slice ON out_trip.trip_id = out_slice.trip_id
        JOIN
        segments AS out_segment ON out_slice.slice_id = out_segment.slice_id
        JOIN
        airports AS out_airport ON out_airport.airport_cd = (string_to_array(out_trip.summary, '-'))[array_length(string_to_array(out_trip.summary, '-'), 1)]
        WHERE
        out_trip.price &lt;= #{budgetLimit}
        AND out_trip.trip_departure_dt::TIMESTAMP >= #{arrival}
    </sql>

    <sql id="HotelSubquery">
        SELECT
            h.id AS hotel_id,
            h.city_cd AS destination,
            h.hotel_nm AS hotel_name,
            h.price AS hotel_price,
            h.ci_date AS check_in_date,
            h.co_date AS check_out_date,
            h.photo_url
        FROM
            hotels h
        WHERE
            h.ci_date &lt;= #{arrival}
    </sql>

    <select id="findDestinationsWithinBudget" resultType="com.example.quickescapes.dao.Fare">
        SELECT fare_id, trip_id, airline_cd, departure_city_cd, arrival_city_cd, fare_cd, tag, price
        FROM fares
        WHERE price &lt;= ${budget}
    </select>

    <select id="findOneway" resultType="com.example.quickescapes.dao.RoundTrip">
        <include refid="FlightSubquery"/>
    </select>

    <select id="getOneItinerary" resultType="com.example.quickescapes.dao.Itinerary">
        SELECT
        rt.cityCode,
        rt.outbound_departure_date,
        rt.outbound_price,
        rt.outbound_airline AS out_airline,
        rt.outbound_flight_number AS out_flight_number,
        rt.outbound_cabin AS out_cabin,
        h.hotel_name,
        h.hotel_price,
        h.check_in_date,
        h.check_out_date,
        (rt.outbound_price + h.hotel_price) AS total_itinerary_price,
        h.photo_url
        FROM
        (
        <include refid="FlightSubquery"/>
        ) AS rt
        JOIN
        (
        <include refid="HotelSubquery"/>
        ) AS h ON rt.cityCode = h.destination
        WHERE
        (rt.outbound_price + h.hotel_price) &lt;= #{budget}
        ORDER BY
        rt.cityCode, h.hotel_price;
    </select>

</mapper>